/* variations */
:root {
    --light: white;
    --light2: lightgray;
    --dark: black;
    --dark2: rgb(190, 190, 190);
    --accent: steelblue;
    --accent2: rgba(70, 131, 180, 0.5);
}

/* fade in animation */
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* page styles */
::placeholder {
    color: var(--light2);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.01);
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    color: var(--light);
    padding: 50px;
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    width: 100%;
    max-width: 1500px;
}

/* search panel styles */
#citySelect {
    display: flex;
    flex-direction: column;
    width: 30%;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
}

input:focus {
    outline: none;
}

#citySearch input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

#searchInput {
    border: 0.5px solid var(--dark);
}

#searchButton {
    background-color: var(--accent);
    color: var(--light);
    border: none;
}

#searchButton:hover {
    cursor: pointer;
    opacity: 0.75;
}

button {
    background-color: var(--dark2);
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: capitalize;
}

button:hover {
    cursor: pointer;
    opacity: 0.75;
}

#searchHistory {
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid var(--dark);
    margin-top: 25px;
    padding-top: 10px;
}

#searchHistory button {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

#reset {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
}

#reset:hover {
    text-decoration: underline;
}

/* weather dashboard styles */
#weatherReport {
    margin-left: 50px;
    height: 100vh;
    width: 70%;
}

#today {
    background-color: var(--light);
    border: 1px solid var(--dark2);
    border-radius: 5px;
    padding: 15px;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

#headline {
    display: flex;
    justify-content: space-between;
}

#today h2 {
    text-transform: capitalize;
}

.description {
    text-transform: capitalize;
}

#mainIcon {
    display: flex;
    justify-content: space-between;
}

#today p {
    margin-top: 15px;
}

#info {
    display: flex;
    justify-content: space-between;
}

.safe {
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

#forecast {
    margin: 25px 0px;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.45s;
    animation-fill-mode: backwards;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dayCard {
    margin-top: 15px;
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    color: var(--light);
    border-radius: 5px;
    padding: 15px;
    width: 18%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

#day1 {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}

#day2 {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-fill-mode: backwards;
}

#day3 {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
}

#day4 {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

#day5 {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

.dayCard p {
    margin-top: 15px;
}

/* tablets */
@media screen and (max-width: 1350px) {

    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        max-width: none;
        width: 100%;
        padding: 30px;
    }

    #citySelect {
        display: flex;
        width: 100%;
    }

    #citySearch {
        width: 100%;
    }

    #searchHistory {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
    }

    button {
        width: 49%;
    }

    #weatherReport {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        height: auto;
        width: 100%;
    }

    #cards {
        flex-direction: column;
    }
    
    .dayCard {
        width: 100%;
    }

    .headline {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .headline p {
        margin-top: 0px
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

}

/* large phones */
@media screen and (max-width: 768px) {

    * {
    font-size: 9px;

    }

    input, select, option, optgroup, textarea, button,
    pre, code {
    font-size: 11px;
    }

}

/* small phones */
@media screen and (max-width: 576px) {

    

}