/* variations */
:root {
    --light: white;
    --light2: lightgray;
    --dark: rgba(0, 0, 0, 0.9);
    --dark50: rgba(0, 0, 0, 0.5);
    --dark15: rgba(0, 0, 0, 0.15);
    --accent: steelblue;
    --accent2: rgba(70, 131, 180, 0.5);
    --overlay: rgba(0, 0, 0, 0.25);
    --shadow: rgba(0, 0, 0, 0.5);
    --shadowLight: rgba(0, 0, 0, 0.1);
}

/* animations */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(500%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideUp-fade {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft-fade {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes titleIntro {
    from {
        color: var(--light);
    }

    to {
        color: var(--dark);
    }
}

/* background photos */
.clearSky {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/clear-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mist {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/mist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fewClouds {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/few-clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.scatteredClouds {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/scattered-clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.brokenClouds {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/broken-clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overcastClouds {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/overcast-clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lightIntensityDrizzle {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/light-intensity-drizzle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lightRain {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/light-rain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.moderateRain {
    background: linear-gradient(120deg, var(--accent2), var(--accent));
    background-image: linear-gradient(var(--overlay), var(--overlay)), url('../assets/images/moderate-rain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* page styles */
::placeholder {
    color: var(--light2);
}

html {
    animation: fade 3s 2s backwards;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#city {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 22%;
    text-transform: capitalize;
    color: var(--dark);
    z-index: 1;
    animation: titleIntro 1s 3.5s backwards;
}

/* search panel styles */
#citySelect {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 25%;
    background: var(--light);
    padding: 120px 30px 30px 30px;
    box-shadow: 0px 0px 25px var(--shadow);
    animation: slideRight 1s 3.5s backwards;
}

#searchLabels {
    display: flex;
    justify-content: space-between;
}

#locationPinLabel {
    opacity: 0;
}

#searchInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
}

#locationPin {
    position: relative;
    height: 35px;
    width: auto;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: 0.2s all ease-in-out;
}

#locationPin:hover {
    cursor: pointer;
    opacity: 0.9;
}

input:focus {
    outline: none;
}

#searchInput {
    width: 100%;
    border: none;
    font-size: 1.8em;
    font-weight: 500;
}

#searchButton {
    background-color: var(--accent);
    color: var(--light);
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

#searchButton:hover {
    cursor: pointer;
    opacity: 0.75;
}

button {
    background-color: var(--dark);
    color: var(--light);
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.2s all ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light);
    opacity: 0.75;
}

#searchHistory {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--dark50);
    margin-top: 25px;
    padding-top: 10px;
}

#citySearch h4 {
    font-weight: 300;
}

#reset {
    background-color: transparent;
    color: var(--dark);
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
}

#reset:hover {
    text-decoration: underline;
}

#searchFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: auto 0px 0px 0px;
}

#todayFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: auto 0px 0px 0px;
    animation: fade 1s 8s backwards;
}

#hideButton {
    content: "Hide Search ←";
    position: absolute;
    bottom: 75px;
    left: 30px;
    width: 150px;
    animation: fade 2s 8s backwards;
    background-color: var(--dark);
    color: var(--light);
}

#hideButton:before {
    content: "Hide Search ←";
}

#hideButton:hover {
    opacity: 0.75;
}

#showButton {
    display: none;
    justify-content: flex-end;
    margin-top: auto;
    position: absolute;
    bottom: 75px;
    left: 30px;
    width: 150px;
    animation: fade 2s 8s backwards;
    background-color: var(--dark);
    color: var(--light);
    z-index: 5;
}

#showButton:before {
    content: "Show Search →";
}

#showButton:hover {
    opacity: 0.75;
}

#openWeatherCredit {
    justify-self: flex-end;
    margin: 30px 0px 0px 0px;
    z-index: 100;
    color: var(--dark);
    animation: fade 2s 8s backwards;
    text-align: left;
}

.hideSearchPanel {
    transform: translateX(-100%);
}

/* weather dashboard styles */
#today {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    padding: 120px 30px 30px 30px;
    color: var(--light);
    height: 100vh;
    min-width: 10%;
    width: 75%;
    text-shadow: 0px 0px 15px var(--shadow);
}

#today h4 {
    animation: slideLeft-fade 1s 3.5s backwards;
}

#today .description {
    animation: slideLeft-fade 1s 3.6s backwards;
}

#today img {
    animation: slideLeft-fade 1s 3.7s backwards;
    margin: -10px 0px 15px -15px;
    width: fit-content;
    height: fit-content;
}

#today .temp {
    animation: slideLeft-fade 1s 3.8s backwards;
}

#today .wind {
    animation: slideLeft-fade 1s 3.9s backwards;
}

#today .humidity {
    animation: slideLeft-fade 1s 4s backwards;
}

.temp {
    font-size: 3.2em;
    font-weight: 700;
    margin: none;
}

.description {
    text-transform: capitalize;
    margin-top: 15px;
}

.dayStat {
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.2;
}

.wind,
.humidity {
    margin-top: 30px;
}

#uvIndex {
    justify-content: flex-end;
    margin: 30px 0px 0px 0px;
}

#uv {
    font-size: 1em;
    font-weight: 500;
    margin: 0px 10px;
}

#uvStatus {
    opacity: 0;
}

#uvIndex:hover {
    cursor: default;
}

#uvIndex:hover #uvStatus {
    cursor: default;
    opacity: 0.5;
}

.uvSafe {
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

.uvModerate {
    background-color: rgb(205, 180, 0);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

.uvHigh {
    background-color: rgb(230, 150, 0);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

.uvVeryHigh {
    background-color: rgb(200, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

.uvExtreme {
    background-color: DarkViolet;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--light);
}

/* forecast */
.dayCard {
    color: var(--light);
    padding: 120px 30px;
    height: 100vh;
    min-width: 10%;
    width: 50%;
    text-shadow: 0px 0px 15px var(--shadow);
    box-shadow: 0px 0px 25px var(--shadow);
}

#day1 {
    animation: slideLeft 2s 4.5s backwards;
    z-index: 1;
    position: absolute;
    left: 50%;
}

#day2 {
    animation: slideLeft 2s 4.75s backwards;
    z-index: 2;
    position: absolute;
    left: 60%;
}

#day3 {
    animation: slideLeft 2s 5s backwards;
    z-index: 3;
    position: absolute;
    left: 70%;
}

#day4 {
    animation: slideLeft 2s 5.25s backwards;
    z-index: 4;
    position: absolute;
    left: 80%;
}

#day5 {
    animation: slideLeft 2s 5.5s backwards;
    z-index: 5;
    position: absolute;
    left: 90%;
}

#day1:hover {
    transform: translateX(-30%);
}

#day2:hover {
    transform: translateX(-30%);
}

#day2:hover~div {
    transform: translateX(-30%);
}

#day3:hover {
    transform: translateX(-30%);
}

#day3:hover~div {
    transform: translateX(-30%);
}

#day4:hover {
    transform: translateX(-30%);
}

#day4:hover~div {
    transform: translateX(-30%);
}

#day5:hover {
    transform: translateX(-30%);
}

#day5:hover~div {
    transform: translateX(-30%);
}

.dayCard img {
    margin: -10px 0px 15px -15px;
    width: fit-content;
    height: fit-content;
}

/* medium screens */
@media screen and (max-width: 1800px) {

    * {
        font-size: 14px;
    }

}

/* small screens */
@media screen and (max-width: 1600px) {

    * {
        font-size: 12px;
    }

}

/* tablets */
@media screen and (max-width: 1400px) {

    * {
        font-size: 16px;
    }

    main {
        flex-direction: column;
        justify-content: space-between;
        height: 180vh;
        scroll-snap-type: y mandatory;
    }

    main div {
        scroll-snap-align: start;
    }

    #city {
        width: 90%;
        left: 30px;
        top: 70px;
    }

    #citySelect {
        position: absolute;
        height: 34vh;
        width: 100%;
        background: var(--light);
        padding: 160px 30px 15px 30px;
        box-shadow: 0px 0px 25px var(--shadow);
        animation: slideDown 1s 3.5s backwards;
    }

    #searchHistory {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    button {
        width: auto;
        min-width: 49%;
    }

    button {
        margin: 15px 0px 0px 0px;
    }

    #reset {
        margin: 15px auto 0px auto;
    }

    #openWeatherCredit {
        position: absolute;
        top: 30vh;
        justify-self: center;
        align-self: center;
        margin: 0px;
        animation: none;
        text-align: center;
    }

    #hideButton {
        position: absolute;
        top: 0px;
        bottom: auto;
        left: 0;
        z-index: 100;
        border-radius: 0px;
        width: 100%;
        margin-top: 0px;
        animation: slideDown 1s 3.5s backwards;
    }

    #hideButton:before {
        content: "Hide Search ↑";
    }

    #showButton {
        position: absolute;
        top: 0px;
        bottom: auto;
        left: 0;
        z-index: 100;
        border-radius: 0px;
        width: 100%;
        margin-top: 0px;
    }

    #showButton:before {
        content: "Show Search ↓";
    }

    #today {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 34vh;
        left: 0;
        justify-self: flex-start;
        padding: 30px 30px 30px 30px;
        color: var(--light);
        height: 46vh;
        flex-grow: 1;
        width: 100%;
    }

    #todayBody {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #today h4 {
        animation: slideUp-fade 1s 3.5s backwards;
    }

    #today .description {
        animation: slideUp-fade 1s 3.6s backwards;
    }

    #today img {
        animation: slideUp-fade 1s 3.7s backwards;
        margin: -10px 0px 15px -15px;
        width: fit-content;
        height: fit-content;
    }

    #today .temp {
        animation: slideUp-fade 1s 3.8s backwards;
    }

    #today .wind {
        animation: slideUp-fade 1s 3.9s backwards;
    }

    #today .humidity {
        animation: slideUp-fade 1s 4s backwards;
    }

    .temp {
        margin: 15px 0px 0px 60px;
    }

    .description {
        margin-top: 15px;
    }

    .wind,
    .humidity {
        margin-top: 15px;
        margin-left: 60px;
    }

    #uvIndex {
        margin: 30px 0px 0px 0px;
    }

    #uv {
        font-size: 1em;
        font-weight: 500;
        margin: 0px 10px;
    }

    #uvStatus {
        opacity: 0.5;
    }

    /* forecast */
    #forecast {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100vh;
        flex-shrink: 1;
    }

    .dayCard {
        padding: 30px 30px;
        height: 25vh;
        width: 100%;
    }

    .dayCardBody {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #day1 {
        animation: slideUp 2s 4.5s backwards;
        position: absolute;
        left: 0%;
        bottom: -5vh;
    }

    #day2 {
        animation: slideUp 2s 4.75s backwards;
        position: absolute;
        left: 0%;
        bottom: -25vh;
    }

    #day3 {
        animation: slideUp 2s 5s backwards;
        position: absolute;
        left: 0%;
        bottom: -45vh;
    }

    #day4 {
        animation: slideUp 2s 5.25s backwards;
        position: absolute;
        left: 0%;
        bottom: -65vh;
    }

    #day5 {
        animation: slideUp 2s 5.5s backwards;
        position: absolute;
        left: 0%;
        bottom: -85vh;
    }

    #day1:hover {
        transform: translateX(0%);
    }

    #day2:hover {
        transform: translateX(0%);
    }

    #day2:hover~div {
        transform: translateX(0%);
    }

    #day3:hover {
        transform: translateX(0%);
    }

    #day3:hover~div {
        transform: translateX(0%);
    }

    #day4:hover {
        transform: translateX(0%);
    }

    #day4:hover~div {
        transform: translateX(0%);
    }

    #day5:hover {
        transform: translateX(0%);
    }

    #day5:hover~div {
        transform: translateX(0%);
    }

    .dayCard img {
        margin: -10px 0px 15px -15px;
        width: fit-content;
        height: fit-content;
    }

}

/* large phones */
@media screen and (max-width: 768px) {

    * {
        font-size: 12px;
    }

    #city {
        top: 20px;
        left: 20px;
    }

    #citySelect {
        padding: 90px 20px 10px 20px;
    }

    #searchInputContainer {
        margin-top: 10px;
    }

    #locationPin {
        height: 30px;
    }

    #searchButton {
        margin-top: 10px;
    }

    #searchHistory {
        margin-top: 10px;
        padding-top: 0px;
    }

    button {
        margin-top: 10px;
    }

    #reset {
        margin: 10px auto 0px auto;
    }

    #todayBody {
        justify-content: space-between;
    }

    #today img,
    .dayCard img {
        margin: -5px 0px 15px -15px;
        width: 75px;
        height: 75px;
    }

    .temp {
        margin: 10px 0px 0px auto;
    }

    .description {
        margin-top: 10px;
    }

    .wind,
    .humidity {
        margin-top: 10px;
        margin-left: auto;
    }

    #uvIndex {
        justify-content: flex-end;
        margin: auto auto 0px 0px;
    }

}

/* small phones */
@media screen and (max-width: 576px) {}